.autocomplete-container {
    position: relative;
    width: 400px;
    margin: 50px auto;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid #508C9B;
    border-radius: 25px;
    min-width: 40px;
    align-items: center;
    position: relative;
    box-shadow: 0px 2px 4px #508C9B;
}

.input-box.active {
    border-radius: 25px 25px 0 0;
    border-bottom: none; 

}

#search-input{
        border: none;
        outline: none;
        background-color:white;
        color: #26235d;
        font-weight: bold;
        font-size: 16px;
        padding: 5px;
        flex-grow: 1;
    
}

#autocomplete-results {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0 0 25px 25px;
    border: 2px solid #508C9B;
    border-top: none;
    position: absolute;
    width: 396px;
    background: white;
    overflow-y: scroll;
    font-weight: 600;
    z-index: 1;
    max-height: 300px;
    box-shadow: 0px 2px 4px #508C9B;
}

#autocomplete-results li {
    padding: 10px;
    cursor: pointer;
}

#autocomplete-results li:hover {
    background: #f2f2f2;
}